.App {
  text-align: center;
}

.flex-column{
  width:100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.39);
}

.flex-row{
  margin: 8px 0px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}